---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Kevin Oscar Mamani Arredondo estudiante de Ingeniería de Sistemas e Informática 
      Con más de 5 años de experiencia en proyectos de automatización industrial y gestión de proyectos."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://951001-kma.github.io/" />
    <meta property="og:site_name" content="Kevin Mamani" />
    <meta property="og:title" content="Kevin Mamani Portafolio" />


    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portafolio | Kevin Mamani</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
